<div class="card w-100 p-5">
    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
        {{ form_widget(form) }}
        <button class="btn ourBtnXl mt-4 align-self-center">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>
