<form method="post" action="{{ path('back_picture_delete', {'id': picture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn ourBtn my-1 px-2">Supprimer</button>
</form>
